// TEXT
.text-center {
    text-align: center !important;
}

.text-dark-quiet {
    color: $color-dark-quite !important;
}

// MARGIN
.mb-smaller {
    margin-bottom: 0.5rem !important;
}

.mb-small {
    margin-bottom: 1.5rem !important;
}

.mt-medium {
    margin-top: 2.5rem !important;
}